N8N_SEARCH_ENDPOINT=http://localhost:5678/webhook/cc549916-c92c-4fc1-be35-bceb9f72c14e
N8N_VECTOR_SEARCH_ENDPOINT=http://localhost:5678/webhook/b1b5c865-26e9-4a0a-b3d2-96d2d86568f3
N8N_AUTH_HEADER_NAME=
N8N_AUTH_HEADER_VALUE=
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
NEO4J_HTTP_URL=http://localhost:7474/db/neo4j/query/v2
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=

